<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardauth.application.user.UserMapper">
    <insert id="signUp">
        INSERT INTO user
           SET uid = #{uid}
             , upw = #{upw}
             , nm = #{nm}
             , gender = #{gender}
    </insert>

    <select id="findByUid">
        SELECT id, uid, upw, nm, gender, created_at
          FROM user
         WHERE uid = #{uid}
    </select>

</mapper>